{% extends "layout.html"%}
{%block content%}

<h1>Goal</h1>
<p>The past few weeks have proven that you can learn anything. And a great way to solidify your knowledge is to teach it to other people. There is no better way to express your ideas and opinions than with a personal blog.</p> 
<h3>Overall Project Description</h3>


<p>Your task for this week is to create a personal blogging website where you can create and share your opinions and other users can read and comment on them</p>

<p>Additionally, add a feature that displays random quotes to inspire your users. </p>

{% endblock content%}